body {
	background-color: RGB(14, 22, 32);
	color: RGB(206, 171, 92);
}

h1, h2, h3{
	text-decoration: underline;
	
}

.classes{
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	border-radius: 10px;
}

.classes, .classes th {
	border: solid 1px;
}

.property-title{
	font-weight: bold;
}

