body {
	background-image: url("https://pbs.twimg.com/media/FGHImYvXsAIjwk3.png");
	background-repeat: repeat;
	background-color: green;
}

.classes-div{
	background-color: rgb(255,255,255);
	padding: 10px;
}

.classes-title{
	text-decoration: underline;
}

.classes, .classes th {
	border: solid 1px;
}

