body {
	background-color: RGB(14, 22, 32);
	color: RGB(206, 171, 92);
	font-size: 30px;
}

h1, h2, h3{
	text-decoration: underline;
	
}

.table{
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	border-radius: 10px;
}

.table, th {
	border: solid 1px;
}

.pastouts{
	font-weight: bold;
}

.property-title{
	font-weight: bold;
}

img {
	border: solid 1.5px;
}

